
html, body {
	font-family: 'Poppins', "Trebuchet MS", Arial, Helvetica, sans-serif;
  /* font-weight: bold; */
}

a {
	color:black;
}

a:hover {
	text-decoration: none;
}

p {
	color: #777;
}
/* h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: 400;
} */

img {
  	max-width: 100%;
  	height: auto;
  	width:100%;
}


.socials {
	overflow: hidden;
}
.socials ul {
	padding-left: 0;
	margin-bottom: 0;
	float: right;
}
.socials ul li {
	display: inline-block;
	list-style-type: none;
}
.socials ul li a {
	display: block;
}
.socials ul li a:hover {
	background-color: #00ACE9;
	color: whitesmoke;
}

/* logo + main menu */
.mWrapper {
	/* margin-bottom: 0px; */
	box-shadow: 0 4px 4px -2px #f1f0f0;
  	width: 100%;
  	background-color: #FFFFFF;
  	z-index: 5000;
    /* border: 1px solid green; */
}
.logo {
	/* padding: 10; */
  width: 34%;
  /* margin-top: 15px; */
  /* margin: auto; */
  /* padding: 10px; */
  /* border: 1px solid yellow; */
  
}
.mainMenu {
  /* border: 1px solid red; */
  /* font-size: 1px; */
  
}
.mainMenu ul {
	float: right;
	padding-left: 0;
	margin-bottom: 0;
  /* border: 1px solid red; */
  width: 100%;
}
.mainMenu li {
	list-style-type: none;
	display: inline-block;
  width: 19%;
  /* border: 1px solid black; */
  text-align: center;
}
.mainMenu li a {
	display: block;
	/* padding: 10px; */

}
.mainMenu li a:hover {
	background-color: #00ACE9;
	color: whitesmoke;
}

/* footer */
footer {
  margin-top: 10px;
  margin-bottom: 53px;
  
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-width : 480px) {

  /* #slider-direction-nav,
	#slider-control-nav { opacity: 1; } */

	.socials ul {
		float: none;
		text-align: center;
	}
  .mainMenu li a {
		padding: 1px;
    margin: 0.5px;
    font-size: 12px;
    color: #00729B;
    text-shadow: 0.2px 0.2px 0.2px black;
	}

  

@media(max-width:767px){

	.socials ul {
		float: none;
		text-align: center;
	}
	
}
@media(min-width:768px){
	
}
@media(min-width:992px){
	.mainMenu li a {
		padding: 1px;
	}

  
}


.info2 img {
  background-color: #FcFcFc ;
  /* box-shadow: 0.05px 0.1px 0.1px black; */
  /* border:1px solid black; */
  border-radius: 2px 2px 2px;
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
 
}

.navbar-fixed-bottom {
  background-image: linear-gradient(180deg, #F9AD3D , white 190%);

}
.navbar-fixed-bottom img {
  width: 10%;
  float: left;
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
	
	#slider-direction-nav,
	#slider-control-nav { opacity: 1; }

}


.info2 h4 {
  text-align: center;
  padding: 0px;
  margin:0px;
  font-weight: normal;
  font-size: 12px;
  color: black;
  text-transform: none;
}
.input-group {
  margin-top: 7px;
  width: 100%;
}
.input-group input .input-group-addon {
  height: 2px;
}

h5 {
  font-size: 12px;
  text-align: right;
  vertical-align: middle;
  margin-top: 15px;
}

.info2 h6 {
  font-size: 15px;
  padding: 5px;
}
}
