
html, body {
	font-family: 'Poppins', "Trebuchet MS", Arial, Helvetica, sans-serif;
  /* font-weight: bold; */
}

a {
	color:black;
}

a:hover {
	text-decoration: none;
}

p {
	color: #777;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: 400;
}

img {
  	max-width: 100%;
  	height: auto;
  	width:100%;
}

.templatemo_footer {
	font-size: 13px;
}

.btn-primary {
  background-color: #00ACE9;
  border-color: #00ACE9;
}

.mainTop {
	margin: 0;
}
.mailme {
	line-height: 36px;
}
.fa-envelope {
	margin-right: 10px;
}
.socials {
	overflow: hidden;
}
.socials ul {
	padding-left: 0;
	margin-bottom: 0;
	float: right;
}
.socials ul li {
	display: inline-block;
	list-style-type: none;
}
.socials ul li a {
	display: block;
}
.socials ul li a:hover {
	background-color: #00ACE9;
	color: whitesmoke;
}
.soc {
	width: 38px;
	height: 38px;
	text-align: center;
	font-size: 20px;
	line-height: 38px;
}

/* IMG slider TXT */
.imgTxt {
  color: white;
	text-align: center;
}
.txtWrap1 {
  color: white;
	margin: 0 auto;
}
.txtWrap1 ul {
	margin-bottom: 20px;
  padding-left: 0;
}
.txtWrap1 ul li {
	list-style-type: none;
	display: inline-block;
}
.tinyCell {
	width: 45px;
	height: 10px;
	border-bottom: 2px solid white;
	position: relative;
	top: -30px;
	margin: 0 30px;
}
.txtWrap1 h2 {
	/* text-transform: uppercase; */
	font-weight: 100;
	margin-bottom: 0;
}
.txtWrap1 h1 {
	/* text-transform: uppercase; */
	font-weight: 100;
	letter-spacing: 3px;
	margin-top: 0;
}

.txtWrap2 {
  color: white;
  margin: 0 auto;
}
.txtWrap2 p {
	margin-bottom: 30px;
	color: white;
	font-weight: 100;
}
.listContact,
.listButton {
  color: white;
	list-style-type: none;
	padding-left: 0;
	margin-top: 40px;
}
.listContact li {
	margin: 0 10px;
	font-weight: 100;
}
.listContact i,
.listContact span {
	margin-right: 10px;
}
.listContact li,
.listButton li {
	display: inline-block;
}
.listButton li {
	margin: 0 10px;
}
.listButton li a {
	color: whitesmoke;
	padding: 10px 35px;
	border: 1px solid whitesmoke;
	display: block;
}
.listButton li a:hover {
	cursor: pointer;
}

/* logo + main menu */
.mWrapper {
	margin-bottom: 0px;
	box-shadow: 0 4px 4px -2px #f1f0f0;
  	width: 100%;
  	background-color: #FFFFFF;
  	z-index: 5000;
    /* border: 1px solid green; */
}
.logo {
	/* padding: 10; */
  width: 30px;
  /* margin-top: 15px; */
  /* margin: auto; */
  /* padding: 10px; */
  /* border: 1px solid yellow; */
  
}
.mainMenu {
  /* border: 1px solid red; */
  font-size: 19px;
  
}
.mainMenu ul {
	float: right;
	padding-left: 0;
	margin-bottom: 0;
}
.mainMenu li {
	list-style-type: none;
	display: inline-block;

}
.mainMenu li a {
	display: block;
	/* text-transform: uppercase; */
	padding: 20px;
  /* border: 1px solid black; */

}
.mainMenu li a:hover {
	background-color: #00ACE9;
	color: whitesmoke;
}

/* footer */
footer {
  margin-top: 10px;
  margin-bottom: 53px;
  
}
.info1 h4,
.info2 h4,
.info3 h4 {
  margin-bottom: 10px;
  font-weight: 300;
  text-transform: uppercase;
}
.info2 > div > div {
  margin-bottom: 20px;
}
.gotop {
  background-color: #ddd;
  padding: 15px 0;
}
.bfWrap {
  padding: 20px 0;
}
.opener {
    position: relative;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}
.opener span {
    display: inline-block;    
}
.opener span:before,
.opener span:after {
    border-top: 1px solid #ccc;
    display: block;
    height: 1px;
    content: " ";
    width: 45%;
    position: absolute;
    left: 0;
    top: 1.2em;
}
.opener span:after {
   right: 0;  
   left: auto; 
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-width : 480px) {

  #slider-direction-nav,
	#slider-control-nav { opacity: 1; }
	.mailme {
		
	}
	.socials ul {
		float: none;
		text-align: center;
	}
  .mainMenu li a {
		padding: 7px;
    margin: 2px;
    font-size: 11px;
    color: #00729B;
    text-shadow: 0.2px 0.2px 0.2px black;
	}

  
  .secHeader {
    width: 100%;
  }
  .txtWrap1 {
    margin-bottom: 10px;
  }
  .txtWrap1 h2,
  .txtWrap1 h1 {
    font-size: 14px;
  }
  .listContact, .listButton {
    margin-top: 20px;
  }
  .menuSwitch ul li {
    padding: 5px;
    font-size: 11px;
  }
  .teamInfo ul li {
    width: 50%;
  }
  .imgWrp {
    height: 150px !important;
  }
  .imgWrp:hover {
      height: 150px;
      opacity: 1;
      margin-top: 0px;
  }
  .txtarea {
    margin: 20px 0;
  }
  #box-img_testimonial a {
    width: 30px;
  }
  .opener span:before,
  .opener span:after {
    width: 25%;
  }
}

@media(max-width:767px){
	.mailme {
		
	}
	.logo {
		text-align: center;
	}
	.socials ul {
		float: none;
		text-align: center;
	}
	.mainMenu ul {
		float: none;
		text-align: center;
	}
	.mainMenu li a {
		padding: 5px;
	}
	.mainMenuB li a {
		padding: 10px;
	}


  .teamInfo ul li {
    width: 50%;
  }
  .imgWrp {
    height: 220px;
  }
  .imgWrp:hover {
      height: 220px;
      opacity: 1;
      margin-top: 0px;
  }
  .txtarea {
    margin: 20px 0;
  }
  .info3 {
    margin-bottom: 30px;
  }
}
@media(min-width:768px){
	.mainMenu li a {
		padding: 20px px;
	}
  .mainMenuB li a {
		padding: 20px 10px;
	}
  
  .socials ul {
    float: none;
    text-align: center;
  }
  .imgWrp {
    height: 160px;
  }
  .imgWrp:hover {
      height: 160px;
      opacity: 1;
      margin-top: 0px;
  }
  .txtarea {
    margin: 20px 0;
  }
  #box-img_testimonial a {
    width: 40px;
  }
  .opener span:before,
  .opener span:after {
    width: 30%;
  }
  .info3 {
    margin-bottom: 30px;
  }
}
@media(min-width:992px){
	.mainMenu li a {
		padding: 20px;
	}

  .mainMenuB li a {
		padding: 20px;
	}

  .imgWrp {
    height: 190px;
    opacity: 0.5;
  }
  .imgWrp:hover {
      height: 220px;
      opacity: 1;
      margin-top: -15px;
  }
  .txtarea {
    margin: 0;
  }
  #box-img_testimonial a {
    width: 50px;
  }
  .opener span:before,
  .opener span:after {
    width: 45%;
  }
  .socials ul {
    float: right;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
	
	#slider-direction-nav,
	#slider-control-nav { opacity: 1; }

}







.info2 h4 {
  text-align: center;
  padding: 0px;
  margin:0px;
  font-weight: normal;
  font-size: 12px;
  color: black;
  text-transform: none;
}
.input-group {
  margin-top: 7px;
  width: 100%;
}
.input-group input .input-group-addon {
  height: 2px;
}

h5 {
  font-size: 12px;
  text-align: right;
  vertical-align: middle;
  margin-top: 15px;
}

.info2 img {
  background-color: #FcFcFc ;
  /* box-shadow: 0.05px 0.1px 0.1px black; */
  /* border:1px solid black; */
  border-radius: 2px 2px 2px;
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
 
}

.navbar-fixed-bottom {
  background-image: linear-gradient(180deg, #F9AD3D , white 190%);
  /* linear-gradient(10deg, #F9AD3D, white); */

}
.navbar-fixed-bottom img {
  width: 10%;
  float: left;
}

